name: build_and_release

on:
  push:
    branches:
      - '**'
    tags:
      - 'v*.*.*'

  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Setup Go environment
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache-dependency-path: go.sum

      - name: Run tests
        run: go test -v ./...

  release:
    runs-on: ubuntu-latest

    needs: build

    if: startsWith(github.ref, 'refs/tags/')

    steps:
      - uses: actions/checkout@v6

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          repository: ${{ github.repository }}
